<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AW IB Tool Forgot Password</title>
    <!-- fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/blue.css">
</head>

<body class="bg-gradient-primary ">
    <div class="container ">
        <!-- Outer Row -->
        <div class="row justify-content-center ">
            <div class="col-xl-10 col-lg-12 col-md-9 ">
                <div class="card o-hidden border-0 shadow-lg my-5 ">
                    <div class="card-body p-0 ">
                        <!-- Nested Row within Card Body -->
                        <div class="row ">
                            <div class="col-lg-6 d-none d-lg-block ">
                                <img src="../../img/GE-HLTHCR_Stacked_RGB-CompPrpl.svg" style="height:300px " alt=" ">
                            </div>
                            <div class="col-lg-6 ">
                                <div class="p-5 ">
                                    <div class="text-center ">
                                        <h1 class="h4 text-gray-900 mb-2 ">Forgot Your Password?</h1>
                                    </div>
                                    <form id="user-forget " class="user ">
                                        <div class="form-group ">
                                            <input type="email " class="form-control form-control-user " id="email " aria-describedby="emailHelp " placeholder="Enter Email Address... ">
                                        </div>
                                        <button type="submit " class="btn btn-primary btn-user btn-block ">
                                            Reset Password
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center ">
                                        <a class="small " href="/views/Login/register.html ">Create an Account!</a>
                                    </div>
                                    <div class="text-center ">
                                        <a class="small " href="/index.html ">Already have an account?
                                            Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap-->
    <script src="/js/libs/bootstrap/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <!-- scripts -->
    <script src="/js/libs/jquery/jquery.min.js "></script>
    <script src="/js/index.js "></script>
    <script src="/views/Login/login.js "></script>
    <script src="/js/libs/dx/dx.all.js "></script>
</body>

</html>